*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    height: 80vh;
    width: 100%;
    background-image: url(images/mountain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: cover;
}
.heroCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    transform: translateX(-50%)
}
.heroCont p{
  text-align: center;
}
.heroCont h3{
}
.heroCont h1{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
}
.main{
  padding-top: 3rem;
  background-color: #e1e1e1;
  color: #222;
  text-align: center;
}

.main p {
  margin: 0 auto;
  width: 40%;
}
.heroCont p{
    color: #fff;
    text-align: center;
}
.navigation{
    height:70px;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
.navigation a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.navigation span{
    font-size: 2rem;
    border: 5px solid #000;
    padding: 9px;
}   


.brands{
    background-color: #000;
    padding: 4rem 2rem 4rem 2rem; 
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.brands .marcas img{
    height: 100px;
    margin: 0 auto;
    filter: grayscale(100%);
}
.brands .marcas img:hover{
    filter: grayscale(0%);
    box-shadow: 3px 1px 100px #8318fe;
}
.brands .info{
    width: 45%;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.brands .info a{
    padding: 7px 15px 7px 15px;
    width: 9rem;
    margin-top: 1.5rem;
    border-radius:10px;
    background-color: #e1e1e1;
    text-align: center;
    text-decoration: none;
    color: rgb(26, 24, 24);
    font-weight: 600;

}
.brands .info h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;

}
.marcas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
    row-gap: 30px;    
}