*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    height: 80vh;
    width: 100%;
    background-image: url(images/mountain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: cover;
}
.heroCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    transform: translateX(-50%)
}
.heroCont p{
  text-align: center;
}
.heroCont h1{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
}
.main{
  padding-top: 3rem;
  background-color: #e1e1e1;
  color: #222;
  text-align: center;
}

.main p {
  margin: 0 auto;
}
.main-text {
  width: 40%;
}
.icons{
  padding-top: 2rem;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon{
  margin: 0 auto;
  width: fit-content;
}
.icon i{
  font-size: 2rem;
  margin-bottom: .6rem ;
}
.icon::after{
  background-image: url(images/mountain.jpeg);  
}
.heroCont p{
    color: #fff;
    text-align: center;
}
.navigation{
    height:70px;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
.navigation a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.navigation span{
    font-size: 2rem;
    border: 5px solid #000;
    padding: 9px;
}   


.brands{
    background-color: #000;
    padding: 4rem 2rem 4rem 2rem; 
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.brands .marcas img{
    height: 100px;
}