*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    height: 80vh;
    width: 100%;
    background-image: url(images/mountain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: cover;
}
.heroCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    transform: translateX(-50%)
}
.heroCont p{
  text-align: center;
}
.heroCont h1{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
}
.main{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #e1e1e1;
  color: #222;
  text-align: center;
  padding-bottom: 3rem;
}
.main h2{
  font-size: 2.3rem;
  padding-bottom: 1.3rem;
}
.main p {
  margin: 0 auto;
  font-size: 1.1rem;
  padding-bottom:2rem;
}
.main-text {
  width: 40%;
}
.icons{
  padding-top: 2rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon{
  margin: 0 auto;
  width: fit-content;
}
.icon i{
  font-size: 2rem;
  margin-bottom: .6rem ;
}
.heroCont p{
    color: #fff;
    text-align: center;
}
.navigation{
    height:70px;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
.navigation a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.navigation span{
    font-size: 2rem;
    border: 5px solid #222;
    padding: 9px;
}   


.brands{
    background-color: #000;
    padding: 4rem 2rem 4rem 2rem; 
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.brands .marcas img{
    height: 100px;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: all 3s ease;
}
.brands .marcas img:hover{
    filter: grayscale(0%);
    -webkit-filter: drop-shadow(5px 4px 20px #8318fe);
    filter:         drop-shadow(5px 4px 20px #8318fe); 

}
.brands .info{
    width: 45%;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.brands .info a{
    padding: 7px 15px 7px 15px;
    width: 9rem;
    margin-top: 1.5rem;
    border-radius:10px;
    background-color: #e1e1e1;
    text-align: center;
    text-decoration: none;
    color: rgb(26, 24, 24);
    font-weight: 600;

}
.brands .info h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;

}
.marcas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px; 
    row-gap: 30px;    
}

.pics{
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top:3rem;
}
.pics h2{
  font-size:2.4rem;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}
.pics img{
  width: 100px;
}