*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80vh;
    width: 100%;
    background-image: url(images/mountain.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: cover;
}
.heroCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}
.heroCont h3{
    color: #fff;
}
.heroCont h1{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    color: #fff;
}